section
	header
		h2 Navigation
	h3 Vertical inContent Navigation
	
	div.example-group
		div.example.in-content
			nav.vertical.dark.nav-group
				ul
					li
						a.active Firefox Desktop
					li 
						a Firefox Android
					li
						a FirefoxOS
					li
						a Web Properties
		div.example-pre
			pre= '<nav class=\'nav-group vertical dark\'>'
			pre= '  <ul>'
			pre= '    <li><a href=\'#\'>One</a></li>'
			pre= '    <li><a href=\'#\'>Two</a></li>'
			pre= '    <li><a href=\'#\'>Three</a></li>'
			pre= '    <li><a href=\'#\'>...</a></li>'
			pre= '  </ul>'
			pre= '</nav>'

	div.example-group
		div.example.in-content
			nav.vertical.light.nav-group
				ul
					li
						a.active Firefox Desktop
					li 
						a Firefox Android
					li
						a FirefoxOS
					li
						a Web Properties
		div.example-pre
				pre= '<nav class=\'nav-group vertical light\'>'
				pre= '  <ul>'
				pre= '    <li><a href=\'#\'>One</a></li>'
				pre= '    <li><a href=\'#\'>Two</a></li>'
				pre= '    <li><a href=\'#\'>Three</a></li>'
				pre= '    <li><a href=\'#\'>...</a></li>'
				pre= '  </ul>'
				pre= '</nav>'

	h3 Horizontal inContent Navigation

	div.example-group
		div.example.in-content
			nav.nav-group.horizontal.dark.clear
				ul
					li
						a Firefox Desktop
					li 
						a Firefox Android
					li
						a FirefoxOS
					li
						a Web Properties
		div.example-pre

	div.example-group
		div.example.in-content
			nav.nav-group.horizontal.light.clear
				ul
					li
						a Firefox Desktop
					li 
						a Firefox Android
					li
						a FirefoxOS
					li
						a Web Properties
		div.example-pre