
section
	header
		h2 Typography
	nav.nav-group.horizontal.light.clear
		ul
			li
				a.active Firefox Desktop
			li 
				a.disabled Firefox Android
			li
				a.disabled FirefoxOS
			li
				a.disabled Web Properties
	h3 Platform
	div.grid-group.clear
		div.grid-left.windows
			h4 Windows Typeface
			div.mega-text Aa
			p= 'Segoe UI'
			p= 'ABCDEFGHIFKLMNOPQRSTUVWXYZ\nabcdefghijklmnopqrstuvwxyz\ns0123456789!@#$%^&*()'
			p= 'Text and copy are never just words, they\'re important. When designing anything, the content is the thing that gives the design purpose and direction.'
			div.type-sample
				h1 Mozilla
				h2 Firefox Desktop
				h3 Australis
				p Bringing together all kinds of awesomeness to make browsing better for you.
		div.grid-right.mac
			h4 Mac OSX Typeface
			div.mega-text Aa
			p Lucida Grande
			p= 'ABCDEFGHIFKLMNOPQRSTUVWXYZ\nabcdefghijklmnopqrstuvwxyz\ns0123456789!@#$%^&*()'
			p= 'Text and copy are never just words, they\'re important. When designing anything, the content is the thing that gives the design purpose and direction.'
			div.type-sample
				h1 Mozilla
				h2 Firefox Desktop
				h3 Australis
				p Bringing together all kinds of awesomeness to make browsing betteryou.
	h3 Platform Readermode
	div.grid-group.clear
		div.grid-left.charis
			h4 Readermode Serif Typeface
			div.mega-text Aa
			p= 'Charis'
			p= 'ABCDEFGHIFKLMNOPQRSTUVWXYZ\nabcdefghijklmnopqrstuvwxyz\ns0123456789!@#$%^&*()'
			p= 'Text and copy are never just words, they\'re important. When designing anything, the content is the thing that gives the design purpose and direction.'
			div.type-sample
				h1 Mozilla
				h2 Firefox Desktop
				h3 Australis
				p Bringing together all kinds of awesomeness to make browsing better for you.
		div.grid-right.clear-sans
			h4 Readermode Sans Serif Typeface
			div.mega-text Aa
			p Clear Sans
			p= 'ABCDEFGHIFKLMNOPQRSTUVWXYZ\nabcdefghijklmnopqrstuvwxyz\ns0123456789!@#$%^&*()'
			p= 'Text and copy are never just words, they\'re important. When designing anything, the content is the thing that gives the design purpose and direction.'
			div.type-sample
				h1 Mozilla
				h2 Firefox Desktop
				h3 Australis
				p Bringing together all kinds of awesomeness to make browsing betteryou.
	h3 In Content
	h3 Platform Readermode
	div.grid-group.clear
		div.grid-left.fira
			h4 Type for Headers
			div.mega-text Aa
			p= 'Fira Sans'
			p= 'ABCDEFGHIFKLMNOPQRSTUVWXYZ\nabcdefghijklmnopqrstuvwxyz\ns0123456789!@#$%^&*()'
			p= 'Text and copy are never just words, they\'re important. When designing anything, the content is the thing that gives the design purpose and direction.'
			div.type-sample
				h1 Mozilla
				h2 Firefox Desktop
		div.grid-right.clear-sans
			h4 Type for Everything Else
			div.mega-text Aa
			p Clear Sans
			p= 'ABCDEFGHIFKLMNOPQRSTUVWXYZ\nabcdefghijklmnopqrstuvwxyz\ns0123456789!@#$%^&*()'
			p= 'Text and copy are never just words, they\'re important. When designing anything, the content is the thing that gives the design purpose and direction.'
			div.type-sample
				h3 Australis
				p Bringing together all kinds of awesomeness to make browsing betteryou.
